<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<body>
<div class="container">
<h1>Stock search App</h1>
  <form action="/result" method="get">
    <input type="text" name="input" id="input" required>
    <button id="btn">Search</button>
  </form>
</div>
</body>
</html>