<div class="row">
  <div class="col-md-12">
    <form action="/new" method="post">
      <label for="title">Title</label>
      <div class="form-group">
        <input type="text" class="form-control" id="Title" name="title">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" name="Author">
      </div>
      <div class="form-group">
        <label for="img">Img URL</label>
        <input type="text" class="form-control" id="img" name="img"
      </div>
      <div class="form-group">
        <label for="body">Example textarea</label>
        <textarea class="form-control" id="body" rows="10" name="body"></textarea>
      </div>
      <button>Save</button>
    </form>
  </div>
</div>